button:focus {
  outline: none;
}

button:active {
  background-color: #ff3300;
}

button:hover {
  background-color: #ff9966;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #ccc;
}

p {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

p:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #bbb;
  margin-right: 10px;
}

.wrapper:active {
  background-color: #333;
  color: #fff;
}

.wrapper:hover {
  background-color: #333;
  color: #fff;
}